@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}
* ::-webkit-scrollbar-thumb {
  background: rgb(159, 159, 159);
  border-radius: 10px;
}
* .display-none {
  display: none !important;
}
* i {
  font-style: unset;
}
* body {
  width: 100%;
  color: #222b45;
}
* body header {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  background-color: white;
  white-space: wrap;
  z-index: 300;
}
* body header .header-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 77px;
  padding: 0px 32px;
  z-index: 2000;
}
* body header .header-container .right-side-container {
  display: flex;
  align-items: center;
}
* body header .header-container .right-side-container .hamburger-menu {
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #374f60;
  border: 0;
  background: none;
  cursor: pointer;
}
* body header .header-container .logo-img img {
  width: 100%;
  height: 100%;
  max-width: 247px;
  max-height: 47px;
  margin: 0 30px;
}
* body header .header-container .header-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
* body header .header-container .header-text .text-headline {
  border-inline-end: 1px solid currentColor;
  padding-inline-end: 20px;
  margin-inline-end: 20px;
  font-size: 1.01rem;
}
* body header .header-container .header-text .text-update {
  font-size: 0.75rem;
  font-weight: 700;
}
* body header .side-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
* body header .side-buttons-container .brightness-dark {
  border: 0;
  background: none;
}
* body header .side-bar {
  z-index: 3000;
  transition: 0.5s;
}
* body header .side-bar .nav-container {
  display: flex;
}
* body header .side-bar .nav-container ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
}
* body header .side-bar .nav-container ul li div {
  white-space: nowrap;
}
* body header .scroll-bar {
  background-color: #374f60;
  color: white;
  overflow: auto;
}
* body header .scroll-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
  list-style: none;
  width: calc(100vw - 25px);
  gap: 4%;
  height: 50px;
  margin-right: 25px;
  margin-left: 25px;
}
* body header .scroll-bar ul li {
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
}
* body main {
  display: flex;
  background-color: #edf1f7;
  padding: 0.25rem 2.25rem 2.25rem;
  margin-top: 135px;
}
* body main .main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
* body main .main-container section {
  display: flex;
  flex-direction: column;
}
* body main .main-container section h2 {
  font-size: 19px;
  border-top: 1px solid rgba(161, 170, 177, 0.4);
  margin-top: 15px;
  margin-bottom: 0.5rem;
  padding-top: 10px;
}
* body main .main-container section .first-h {
  border-top: none;
  margin-top: 0;
}
* body main .main-container section .cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 1.3rem;
  gap: 20px;
}
* body main .main-container section .cards-container .card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  box-shadow: 3px 6px 14px 3px rgba(0, 0, 0, 0.1);
  height: 184px;
  padding: 16px;
}
* body main .main-container section .cards-container .card .card-title {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
}
* body main .main-container section .cards-container .card .card-title .right-side-div {
  display: flex;
  gap: 15px;
}
* body main .main-container section .cards-container .card .card-title .right-side-div h3 {
  font-size: 0.9rem;
  font-weight: 700;
}
* body main .main-container section .cards-container .card .card-title .right-side-div .fa-circle-info {
  color: #222b45;
}
* body main .main-container section .cards-container .card .card-title .right-side-div .info {
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #b3b3b5;
  font-size: 0.9rem;
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.16);
  display: inline;
  animation: fade 0.25s;
  position: absolute;
  z-index: 99;
  transform: translateY(24px);
  width: 140px;
}
* body main .main-container section .cards-container .card .card-title .left-side-div {
  position: relative;
}
* body main .main-container section .cards-container .card .card-title .left-side-div .fa-ellipsis-vertical {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
* body main .main-container section .cards-container .card .card-title .left-side-div .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset-inline-end: -9px;
  top: 17px;
  z-index: 98;
  border-radius: 3px;
}
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .share,
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .download {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 82px;
  cursor: pointer;
  color: #222b45;
  border: 1px solid #e4e9f2;
}
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .share .fa,
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .download .fa {
  border-radius: 1rem;
  border: 1px solid #e4e9f2;
  margin-inline-end: 0.5rem;
  padding: 0.35rem;
  width: 25px;
  height: 26px;
}
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .share:hover,
* body main .main-container section .cards-container .card .card-title .left-side-div .menu .download:hover {
  background-color: #e6f1f4;
}
* body main .main-container section .cards-container .card .card-body {
  display: flex;
  flex-wrap: wrap;
}
* body main .main-container section .last-7-days {
  background-color: white;
  margin-bottom: 20px;
  margin-right: -15px;
  padding: 0 20px;
  box-shadow: 3px 6px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: visible;
}
* body main .main-container section .last-7-days h3 {
  margin-top: 10px;
}
* body main .main-container section .last-7-days .cards-container {
  margin-top: 10px;
  margin-right: 5px;
}
* body main .main-container section .last-7-days .cards-container h3 {
  margin-top: 0;
}
* body main .main-container section .simulation-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  padding: 23px;
  margin-right: -15px;
  margin-top: 100px;
  height: 115px;
}
* body main .main-container section .simulation-container .photo-container {
  position: absolute;
  bottom: 23px;
  inset-inline-start: 75px;
  border-radius: 11px 11px 0 0;
  overflow: hidden;
  box-shadow: 0 6px 14px 3px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 170px;
  z-index: 50;
}
* body main .main-container section .simulation-container .photo-container img {
  width: 100%;
  height: 100%;
}
* body main .main-container section .simulation-container .headline-container {
  padding-inline-start: 460px;
}
* body main .main-container section .simulation-container .headline-container h1,
* body main .main-container section .simulation-container .headline-container p {
  font-size: 28px;
}
* body main .main-container section .links-container {
  display: flex;
  margin-left: -30px;
}
* body main .main-container section .links-container .cards-container {
  width: 100%;
}
* body main .main-container section .links-container .cards-container .card {
  height: 116px;
  padding: 0;
}
* body main .main-container section .links-container .cards-container .card .link {
  display: flex;
  cursor: pointer;
}
* body main .main-container section .links-container .cards-container .card .link .img-container img {
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 0 6px 6px 0;
}
* body main .main-container section .links-container .cards-container .card .link .headline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
* body main .main-container section .links-container .cards-container .card .link .headline-container h2 {
  border: none;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 1rem;
}
* body main .main-container section .links-container .cards-container .card .link .headline-container a {
  position: absolute;
  bottom: 8px;
  text-decoration: none;
  color: #222b45;
}

@media (max-width: 768px) {
  .card {
    width: 100% !important;
  }
}
