@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}
* .fa-circle-info {
  color: #222b45;
}
* i {
  font-style: unset;
}
* img {
  max-width: 400px;
}
* .info {
  display: none;
}
* main {
  width: 100vw;
  background-color: #edf1f7;
}
